<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Manager</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class = "main-header-title">This is the task Manager</h1>
    <h4>What are you going to do?</h4>

    <nav class ="main-navigation-menu">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
    </nav>
    <aside class = "side-section"> <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, quos!</p></aside>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
</body>
</html>