*, body {
    margin: 0; 
    padding: 0; 
}

.main-menu{
    display: grid; 
    
grid-gap: 5px;
 grid-template-areas:
  "ac ac ac del"
  "on tw th fr"
  "";
  
background-color: lightskyblue;

}
.main-menu li {
    width: 50px; 
}

.ac { 
    grid-area: ac;
}

.*{}